body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 60vw;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #000;
    text-align: left;
    font-size: 1rem; /* Increase the font size for the quiz */
}

h1 {
    margin-top: 0;
    font-size: 3rem; /* Increase the font size for the heading */
}

#quiz-progress {
    margin-bottom: 20px;
    font-size: 2rem; /* Increase the font size for the quiz progress */
}

#questions-container {
    display: none;
    margin-bottom: 20px;
}

#questions-container p {
    margin-bottom: 10px;
}

.option-label {
    display: block;
    margin-top: 20px;
    font-size: 1rem;
    cursor: pointer;
    text-align: left;
}

.option-label {
    display: flex;
    align-items: center; 
    margin-top: 10px;
}

.option-label input[type="radio"] {
    margin-right: 10px; 
}


.option-label input[type="radio"] + label::before {
    content: "\25CB"; 
    font-size: 1.5rem;
    color: #0074D9; 
    cursor: pointer;
}


.option-label input[type="radio"]:checked + label::before {
    content: "\25CF"; 
    color: #0074D9; 
}


#result {
    font-weight: bold;
    display: none;
}

button {
    padding: 12px 24px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2rem;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

